#browsing-table-div {
  width: 90%;
  margin: 20px auto;
}

#browsing-table {
  width: 100%;
  border-collapse: collapse;
}

#browsing-table th {
  padding: 8px;
  text-align: left;
}

#browsing-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}