<!DOCTYPE html>
<html>
<head>
    <title>Software Management</title>
</head>
<body>
    <header>
        <nav>
            <a href="/Login">Login</a>
            <a href="/AllProjects">All projects</a>
            <a href="/MyProjects">My projects</a>
            <a href="/Assign">Assign</a>
            <a href="/AllDevelopers">All developers</a>
        </nav>
    </header>
    
    <main>
        @RenderBody()
    </main>
</body>
</html> 