@page
@model MyApp.Namespace.AddPostModel
@{
}

<p> add post </p>
<form method="post"> 
    <p> topic: <input type="text" name="topicName"/> </p>
    <p> text: <input type="text" name="text"/> </p>
    <button type="submit"> add </button>
</form>