<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	
	<appSettings>
		<add key="parentTable" value="City"/>
		<add key="parentPrimaryKey" value="CityID"/>
		<add key="childTable" value="Department"/>
		<add key="childForeignKey" value="CityID"/>
		<add key="server" value="np:\\\\.\\pipe\\LOCALDB#EAE31775\\tsql\\query"/>
		<add key="database" value="CityPlanning"/>
	</appSettings>
	
<!--
	<appSettings>
		<add key="parentTable" value=""/>
		<add key="parentPrimaryKey" value=""/>
		<add key="childTable" value=""/>
		<add key="childForeignKey" value=""/>
		<add key="server" value="np:\\\\.\\pipe\\LOCALDB#72B94FF0\\tsql\\query"/>
		<add key="database" value="CityPlanning"/>
	</appSettings>
-->
	
</configuration>