<div id="add-recipe-form">
  <div id="text-and-input">
    <label> Name: </label>
    <input type="text" id="name" [(ngModel)]="name" />
  </div>

  <div id="text-and-input">
    <label> Author: </label>
    <input type="text" id="author" [(ngModel)]="author" />
  </div>

  <div id="text-and-input">
    <label> Type: </label>
    <input type="text" id="type" [(ngModel)]="type" />
  </div>

  <div id="text-and-input">
    <label> Date created: </label>
    <input type="date" id="date" [(ngModel)]="date" />
  </div>

  <div id="text-and-big-input">
    <label> Instructions: </label>
    <textarea id="instructions" [(ngModel)]="instructions"></textarea>
  </div>
</div>