body {
  background-color: white;
}

.bubble {
  border-radius: 50%;
  background: radial-gradient(
    circle at 30% 30%,
    white 10%,
    rgba(200, 220, 255, 0.6) 60%,
    rgba(180, 190, 255, 0.8)
  );
  border: 1.5px solid rgba(0, 0, 180, 0.5);
  filter: blur(1.75px);

  position: fixed;
  left: -150px;
  animation: float 8s linear infinite;
}

.bubble:nth-child(1) {
  width: 20px;
  height: 20px;
  bottom: 10%;
  animation-duration: 8s;
  animation-delay: 0s;
}

.bubble:nth-child(2) {
  width: 50px;
  height: 50px;
  bottom: 30%;
  animation-duration: 10s;
  animation-delay: 2s;
}

.bubble:nth-child(3) {
  width: 30px;
  height: 30px;
  bottom: 50%;
  animation-duration: 7s;
  animation-delay: 1s;
}

.bubble:nth-child(4) {
  width: 25px;
  height: 25px;
  bottom: 70%;
  animation-duration: 9s;
  animation-delay: 3s;
}

.bubble:nth-child(5) {
  width: 30px;
  height: 30px;
  bottom: 80%;
  animation-duration: 9s;
  animation-delay: 4s;
}

.bubble:nth-child(6) {
  width: 35px;
  height: 35px;
  bottom: 20%;
  animation-duration: 5s;
  animation-delay: 4s;
}

.bubble:nth-child(7) {
  width: 40px;
  height: 40px;
  bottom: 40%;
  animation-duration: 6s;
  animation-delay: 5s;
}

.bubble:nth-child(8) {
  width: 10px;
  height: 10px;
  bottom: 60%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.bubble:nth-child(9) {
  width: 50px;
  height: 50px;
  bottom: 80%;
  animation-duration: 12s;
  animation-delay: 6s;
}

.bubble:nth-child(10) {
  width: 50px;
  height: 50px;
  bottom: 30%;
  animation-duration: 15s;
  animation-delay: 3s;
}

@keyframes float {
  0% {
    transform: translateY(-20px);
    opacity: 1;
  }
  25% {
    transform: translateY(40px);
    opacity: 0.75;
  }
  50% {
    transform: translateY(0);
    opacity: 0.5;
  }
  75% {
    transform: translateY(-30px);
    opacity: 0.25;
  }
  100% {
    transform: translateY(20);
    left: 100vw;
    opacity: 0;
  }
}
