<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<add key="Setting1" value="Value1" />
		<add key="Setting2" value="Value2" />
	</appSettings>

	<connectionStrings>
		<add name="DefaultConnection"
             connectionString="Data Source=ServerName;Initial Catalog=DatabaseName;Integrated Security=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>