@page
@model MyApp.Namespace.LoginModel
@{
}

<form method="post">
    <p> name: <input type="text" name="name"/> </p>
    <p> date: <input type="text" name="date"/> </p>
    <p> destination: <input type="text" name="destination"/> </p>
    <button type="submit"> login </button>
</form>