@page
@model MyApp.Namespace.MenuModel
@{
}

<form method="post">
    <button type="submit" asp-page-handler="Flights">Flights</button>
</form>
<form method="post">
    <button type="submit" asp-page-handler="Hotels">Hotels</button>
</form>