.label-input-button-table {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  gap: 10px;
}

input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  align-self: flex-start;
  padding: 8px 16px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table {
  width: fit-content;
  border-collapse: collapse;
  margin: auto;
}

td {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
  padding: 20px;
  margin: auto;
}