@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (HttpContext.Session.GetString("username") != null)
{
    <p> hei, @HttpContext.Session.GetString("username"). </p>
}
else
{
    <p> not logged in. </p>
}